$green: #337b33;
$color_reserve: #1e66d7;
$color_booked: #bf0000;

@mixin triangle-start($color) {
    background-color: $color;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    z-index: -1;
}

@mixin triangle-end($color) {
    background-color: $color;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    z-index: -1;
}



@mixin cal-object {
    .obj {
        color: #ffffff;
        height: 22px;
        white-space: nowrap;
        margin: 4px 0;
        position: relative;
        //        border-bottom: 1px solid #eee;
        .is_start {
            width: calc(50% - 1px);
            margin-left: calc(50% + 2px);
            &:before {
                border-radius: 6px 0 0 6px;
            }
        }
        .is_end {
            width: calc(50% - 2px);
            &:before {
                border-radius: 0 6px 6px 0;
            }
        }
        .obj_booking {
            cursor: pointer;
            position: relative;
            &:before {
                content: "";
                left: 0;
                position: absolute;
                width: 100%;
                height: 22px;
            }
            &.status_asked {
                color: black;
                &:before {
                    opacity: 0.5;
                }
            }
            &.buka_combi {
                &:before {
                    background-color: #aaa;
                }
                .lbl {
                    color: #000;
                    display: none;
                }
                &:first-child {
                    .lbl {
                        display: block;
                    }
                }
            }
            
        }
        .lbl {
            left: 4px;
            position: absolute;
            z-index: 1;
            overflow: hidden;
            text-align: left;
            &.max_len_1 { width: calc(100% - 8px); }
            &.max_len_2 { width: calc(200% - 8px); }
            &.max_len_3 { width: calc(300% - 8px); }
            &.max_len_4 { width: calc(400% - 8px); }
            &.max_len_5 { width: calc(500% - 8px); }
            &.max_len_6 { width: calc(600% - 8px); }
            &.max_len_7 { width: calc(700% - 8px); }
        }
        .is_start {
            .max_len_1 { width: calc(200% - 8px); }
            .max_len_2 { width: calc(400% - 8px); }
            .max_len_3 { width: calc(600% - 8px); }
            .max_len_4 { width: calc(800% - 8px); }
            .max_len_5 { width: calc(1000% - 8px); }
            .max_len_6 { width: calc(1200% - 8px); }
            .max_len_7 { width: calc(1400% - 8px); }
        }

    }

}


.buka-cal-wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
    &.booking-start {
        .bk-day {
            cursor: default;
            pointer-events: none;
        }
        .booking-range {
            &:hover {
                background-color: $color_reserve;
            }
            cursor: pointer;
            pointer-events: initial;
        }
    }
}

.buka_pager_nav {
    display: flex;
    justify-content: space-between;
}

.y-wrapper {
    align-content: flex-start;
    display: flex;
    flex-flow: wrap;
    list-style: none;
    width: calc(100% - 10px);
    border: 1px solid #999999;
    padding: 2px;

    li {
        text-align: center;
        width: 14.2%;
        z-index: 1;
    }
    .bk_month_title {
        width: 100%;
    }
    @media screen and (min-width: 640px) {
        width: calc(50% - 20px);
    }
    @media screen and (min-width: 960px) {
        width: calc(33.3333% - 20px);
    }
    @media screen and (min-width: 1200px) {
        width: calc(25% - 20px);
    }
    @media screen and (min-width: 1600px) {
        width: calc(25% - 20px);
    }
}

.bk-day {
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;
    color: white;
    font-weight: bold;
    //    pointer-events: none;
    &.bookable {
        cursor: pointer;
        pointer-events: all;
    }
}

.fix-booked {
    background-color: $color_booked;
}

.fix-booked-end:before {
    @include triangle-end($color_booked);
}

.fix-booked-end:not(.fix-booked-start) {
    &:after {
        @include triangle-start($green);
    }
}

.fix-booked-start:not(.fix-booked-end) {
    &:before {
        @include triangle-end($green);
    }
}

.fix-booked-start:after {
    @include triangle-start($color_booked);
}

.free {
    background-color: $green;
}

.reserve-start {
    background-color: transparent;
    &:after {
        @include triangle-start($color_reserve);
    }
    &.free:before {
        @include triangle-end($green);
    }
    &.fix-booked-end {
        &:after {
            @include triangle-start($color_reserve);
        }
    }
}

.add-reserve {
    &.reserve-end {
        background-color: transparent !important;
        &:before {
            @include triangle-end($color_reserve);
        }
        &:after {
            @include triangle-start($green);
        }
        &.fix-booked-start:after {
            @include triangle-start($color_booked);
        }
    }
}

.add-reserve:not(.reserve-start) {
    background-color: $color_reserve;
}

.mind_booking_message {
    display: none;
}

#bookingform-step2 {
    display: none;
}

button#to-step-1 {
    margin-left: 20px;
}

// Balken-Kalender

.buka_bar_cal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;

    .bar_cal_month_title {
        background-color: #888;
        color: #fff;
        font-weight: bold;
        padding: 4px;
        width: 100%;
    }
    .bar_cal_month {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        overflow: hidden;
        width: calc(50% - 20px);
    }
    .bar_cal_day {
        background-color: #ffffff;
        border-right: 1px solid #888;
        padding: 4px 0;
        width: (100 / 7) * 1%;
    }
    .cal_date {
        color: #fff;
        background-color: #888;
        margin-left: 2px;
        width: calc(100% - 4px);
    }
    @include cal-object();

}

// Gant Kalender
$elem_height: 36px;
$day_height: 44px;
$label_width: 100px;
$cal_width: calc(100% - 100px);
$top_offset: 100px;

.buka-gant-cal-wrapper {
//    border: 1px solid #555;    
    @media screen and (max-width: 1280px) {
        font-size: 12px;
    }
    margin-top: -$top_offset;
    display: flex;
    .buka-gant-cal-labels-wrapper {
        border: 1px solid #555;
        padding-top: 59px;
        @media screen and (max-width: 1280px) {
            padding-top: 50px;
        }
    }
    .buka-gant-cal-labels {
        padding-top: $top_offset;
        width: $label_width;
        .obj {
            height: $day_height;
            border-top: 1px solid gray;
            padding: 0 4px;
            .obj_booking {
                color: #ffffff;
                height: $elem_height;
                line-height: 1.1;
                padding: 4px;
                position: relative;
                .lbl {
                    padding-top: 2px;
                }
                &:before {
                    content: "";
                    border-radius: 6px;
                    height: $elem_height;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    z-index:-1;
                }
            }
        }
    }
}

.buka_gant_cal {

    @include cal-object();

    width: $cal_width;
    overflow-x: scroll;
    padding-top: $top_offset;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: center;

    .gant_header_wrapper {
        display: flex;
        flex-wrap: nowrap;
        .cal_date {
            text-align: center;
            width: 30px;
            @media screen and (max-width: 1280px) {
                width: 20px;
            }
        
            padding-top: 8px;
        }
    }

    .gant_cal_month_title {
        background-color: #888;
        border-right: 2px solid white;
        border-left: 2px solid white;
        color: #fff;
        font-weight: bold;
        padding: 4px;
        width: 100%;
    }

    .wd6 {
        background-color: #dddddd;
    }
    .wd7 {
        background-color: #cccccc;
    }

    .wd7 .cal_date {
        font-weight: bold;
    }

    .obj {
        height: $day_height;
        margin: 0;
        padding: 4px 0;
        border-top: 1px solid gray;
        .obj_booking::before {
            height: $elem_height;
        }
        .obj_booking.buka_combi .lbl {
            display: block;
        }
        .lbl {
            line-height: 1.1;
            margin-top: 2px;
        }
    }


    .bar_cal_day {
        border-left: 1px solid #999;
    }

    .lbl_tooltip {
        background-color: #555;
        bottom: 5px;
        color: #ffffff;
        display: none;
        font-size: 12px;
        line-height: 1.1;
        max-width: 160px;
        padding: 4px;
        pointer-events: none;
        position: absolute;
        text-align: left;
        white-space: normal;
        z-index: 1000;
    }
    .lbl:hover + .lbl_tooltip {
        display: block;
    }



}


@media screen and (max-width: 991px), (min-width: 1440px) {
    #table-rex_buka_bookings {
        .yform-be-relation-wrapper {
            > div {
                padding-top: 40px;
                padding-left: 15px;
            }
        }
        .yform-be-relation-inline-form {
            label {
                width: 120px;
            }
            input[type="text"] {
                display: inline-block;
                width: calc(100% - 124px);
            }

            .form-inline {
                width: calc(100% - 130px);
                display: inline-block;
                white-space: nowrap;
                select:nth-child(4) {
                    margin-left: 10px;
                }
                select:nth-child(6) {
                    display: none; // Sekunden ausblenden
                }
            }
        }
        .zugeklappt {
            display: none;
        }
        .aufklapper {
            margin-top: -25px;
        }
    }
}

.buka-be-datefields {
    .form-inline {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

.buka-two-cols {
    display: flex;
    justify-content: space-between;
    > div {
        width: calc(50% - 10px);
    }
}
.buka-three-cols {
    display: flex;
    justify-content: space-between;
    > div {
        width: calc(33% - 10px);
    }
}

